<%= form_with model: post do |form| %>
  <div>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
    <% post.errors.full_messages_for(:title).each do |message| %>
        <div>
            <%= message %>
        </div>
    <% end %>
  </div>

  <div>
    <%= form.label :body %><br>
    <%= form.text_area :body %><br>
    <% post.errors.full_messages_for(:body).each do |message| %>
        <div>
            <%= message %>
        </div>
    <% end %>
  </div>

  <div>
    <%= form.select :category_id, options_from_collection_for_select(@categories, "id", "name"), prompt: "Select a category" %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>