<%= react_component("Header", {}, {prerender: true}) %>

<% if user_signed_in? %>
 <div> Welcome <%= current_user.username %> </div> 
  <%= button_to "Sign out", destroy_user_session_path, method: :delete %> 
<% else %>
  <%= button_to "Sign in", new_user_session_path %> 
<% end %>

<h1>Posts</h1>

<% if user_signed_in? %>
  <%= link_to "New Post", new_post_path %>
<% end %>

<ul>
  <% @posts.each do |post| %>
    <li>
        <%= link_to post.title, post %>
        [<%= post.category.name %>]
        [Created by <%= post.user.username %>]
    </li>
  <% end %>
</ul>