<h1>Food Web Forum</h1>

<% if user_signed_in? %>
 <div> Welcome <%= current_user.email %> </div> 
  <%= button_to "Sign out", destroy_user_session_path, method: :delete %> 
<% else %>
  <%= button_to "Sign in", new_user_session_path %> 
<% end %>

<h1><%= @post.title %></h1>

<p>Created by <%= @post.user.email %></p>

<p><%= @post.body %></p>

<% if current_user == @post.user %>
    <%= link_to "Edit Post", edit_post_path(@post) %>
    <%= button_to "Delete Post", @post, method: :delete %>
<% end %>

<h2>Comments</h2>
<%= render @post.comments %>

<% if user_signed_in? %>
    <h2>Add a comment:</h2>
    <%= render 'comments/form'%>
<% end %>